# Java / Spring Boot
target/
*.class
*.jar
.mvn/
.metadata/
bin/

# Node / React
node_modules/
npm-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
build/

# IDE
.idea/
.vscode/
*.swp
*.iml
.DS_Store
hs_err_pid15432.log
replay_pid15432.log
